<img src="https://i2.wp.com/hackwagon.com/wp-content/uploads/2017/02/Logo-Web-Export.png?ssl=1" width=200/>

<h1>Hackwagon Academy - DS101 Lab 3</h1>
<hr>
This lab exercise consists of 10 questions, with each correct answer to be awarded 2 marks, totalling up to 20 marks.

<b> Codes with any errors/ mistakes are awarded 0 marks </b>

In [ ]:
#Before you start, please perform the following 2 steps:
#1. Rename the file to <First_Name>_<Last_Name>_DS101_Lab_1 e.g. john_doe_DS101_Lab_1

#2. Fill in your details here:
#Name                    : __Rozalin Mohanty______

#Start of Course Class(Edit accordingly): __18 Jul 2020 12.30pm____

# FOR TA/INSTRUCTOR 
# Total Marks:  / 20

## Warm Up
### Question 1 <font color='red'>[2 marks]</font>

Print out the numbers 1 to 10 using the `range()` function and a `for` loop

#### Expected Output:
    
    1
    2
    3
    4
    5
    6
    7
    8
    9
    10

In [1]:
# Write your code below:

for num in range(1,11):
    print (num)

1
2
3
4
5
6
7
8
9
10

### Question 2 <font color='red'>[2 marks]</font>
Create a list of numbers containing 1 to 10 using the `range()` function and/ or a `for` loop. Please <b>do not</b> be cheeky by doing this:
```python
x = [1,2,3,4,5,6,7,8,9,10]
print(x)
```
#### Expected Output:

    [1,2,3,4,5,6,7,8,9,10]

In [2]:
# Write your code below:

x = []
for num in range(1,11):
    x.append(num)
    
print (x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Loop Applications 

Use the CIETU Framework to solve each of your problems.

1. <b>Create</b> the results container
2. <b>Iterate</b> over the input data/list
3. <b>Extract</b> the necessary value
4. <b>Test</b> conditions of each value
5. <b>Update</b> the results container when condition is fulfilled

### Question 3 <font color='red'>[2 marks]</font>
Imagine you are an employee of DBS, and you are provided with `data` containing deposit amounts of each client. Make use of a `for` loop to find and print out the <b>highest amount.</b> Do not use in-built functions e.g. `max()`

#### Expected Output: 
    9480938.2

In [3]:
data = [73284, 8784.3, 9480938.2, 984958.3, 24131, 45789, 734987, 23545.3, 894859.2, 842758.3]

# Write your code below:

maximum = data[0]
for amount in data: 
    if amount > maximum: 
        maximum  = amount
        
print (maximum)

9480938.2

### Question 4 <font color='red'>[2 marks]</font>
Imagine right now you are working at DBS, and you are provided with the following data of deposit amount by each client. Store any deposit amounts <b>larger than 50000</b> in `high_networth`
1. Make use of a `for` loop to iterate over your dataset
2. Filter for deposit amounts larger than 50000
3. Store those amounts that makes the cut into `high_networth` 

<i> Hint: Remember the <code>.append()</code> method? </i>

#### Expected Output:
    [73284, 9480938.2, 984958.3, 734987, 894859.2, 842758.3]

In [4]:
data = [73284, 8784.3, 9480938.2, 984958.3, 24131, 45789, 734987, 23545.3, 894859.2, 842758.3]
high_networth = []

# Write your code below:

for amount in data: 
    if amount > 50000: 
        high_networth.append(amount)
        
print (high_networth)

[73284, 9480938.2, 984958.3, 734987, 894859.2, 842758.3]

### Question 5 <font color='red'>[2 marks]</font>

To further improve its database, DBS has changed the way in which it stores its data. Data are now stored in the form of a dictionary, with the key being the client's name, and the corresponding value being his networth. 

Utilise your knowledge of the CIETU framework to find and return the <b>name of the client with the highest networth.</b> 

<i> Hint: To iterate a dictionary you have to use <code>.items()</code> and it gives you a tuples containing both the key and value in each iteration</i>

#### Expected Output:
    
    Uee has the highest networth at $9480938.2

In [277]:
data = {
    'Jeremy':73284, 
    'Hansel':8784.3, 
    'Smith':9320516.1, 
    'Seolhyun':984958.3, 
    'Ketsuno Ana':24131, 
    'Trump':45789,
    'Uee':9480938.2
}

# Write your code below:

data_list = list(data.items())
amount = data_list[0][1]
highest_networth = []

for key, value in data.items(): 
    if value > amount: 
        amount = value
        highest_networth = key, value

print (highest_networth[0],'has the highest networth at $'+ str(highest_networth[1]))

Uee has the highest networth at $9480938.2

### Question 6 <font color='red'>[2 marks]</font>

DBS has further improved its database. And you can observe that DBS now has more information about her clients. Make use of a for loop to find the <b>average salary among all her clients</b> rounded to <u>2 decimal places</u>

<i>Hint: Go back to your lab 2 consolidation question 2 to revise how to access data from a nested list of dictionary. You can also use the `round()` function to round the values to 2 decimal places.</i>

**Expected output:**

    Average salary amongst all clients is $3721152.33

In [76]:
DBS = [
    {'Name':'Rick Jones', 'Job':'Software Engineer', 'Salary':909802},
    {'Name':'Marissa Meyer', 'Job':'COO', 'Salary':9320809},
    {'Name':'Avril Ting', 'Job':'MD', 'Salary':932846}
]

# Write your code below:

total_salary = 0
for client in DBS: 
    total_salary += client['Salary']

no_of_clients = len(DBS)

average_salary = round((total_salary/no_of_clients),2) 

print ('Average salary amongst all clients is $' + str(average_salary))

Average salary amongst all clients is $3721152.33

## Importing Data From A File
The next two questions will be the <b>first time</b> you are using a [dataset](https://data.gov.sg/dataset/public-transport-utilisation-average-public-transport-ridership) from the Singapore government's open data portal at Data.gov.sg. The data consists of the average ridership of Singapore's public transport system, in 4 different types: Bus, MRT, Taxi, LRT. 

Below is a snippet/preview of how the data looks like in Microsoft Excel: 

<img src="https://i.imgur.com/Z4Qo9u3.png" width="300">

After running the next cell, you will get a <b>LIST</b> of <b>DICTIONARIES</b>, `public_transport_ridership`,that looks like this:
```python
    [
        {
            'year': 1995,
            'type_of_public_transport': 'MRT',
            'average_ridership': 740000
        },
        {
            'year': 1995, 
            'type_of_public_transport': 'LRT', 
            'average_ridership': 0
        },
        {
            'year': 1995,
            'type_of_public_transport': 'Bus',
            'average_ridership': 3009000
        },
        ....
    ]
```
There are a total of 88 rows of data in this list of dictionaries, i.e 88 dictionaries.  


<font color="red"><b>Do not be alarmed by the next codes you see.</b></font> You only have to execute this next cell by pressing <b>`SHIFT-ENTER` or `SHIFT-RETURN` or the`Run Button`. </b>

In [80]:
import csv

# an empty list to store each row of data
public_transport_ridership = []

with open('public-transport-utilisation-average-public-transport-ridership.csv', encoding='utf-8', newline='') as file:
    reader = csv.DictReader(file, delimiter = ',')
    
    for row in reader:
        # changes the string to int
        row['year'] = int(row['year'])
        row['average_ridership'] = int(row['average_ridership'])
        
        # adds 1 row of data to the list
        public_transport_ridership.append(dict(row))
    
# previews the first 5 rows
public_transport_ridership[:5]

[{'year': 1995,
  'type_of_public_transport': 'MRT',
  'average_ridership': 740000},
 {'year': 1995, 'type_of_public_transport': 'LRT', 'average_ridership': 0},
 {'year': 1995,
  'type_of_public_transport': 'Bus',
  'average_ridership': 3009000},
 {'year': 1995, 'type_of_public_transport': 'Taxi', 'average_ridership': 0},
 {'year': 1996,
  'type_of_public_transport': 'MRT',
  'average_ridership': 850000}]

### Question 7 <font color='red'>[2 marks]</font>
Using the `public_transport_ridership` list created earlier, find the year with the <b>highest</b> average ridership for <b>Taxis</b>.

Expected output:
    
    2014 has the highest Taxi ridership with an average of 1020000 riders

In [278]:
# Write your code below:

taxi_ridership = []
for entry in public_transport_ridership: 
    if entry['type_of_public_transport'] == 'Taxi': 
        taxi_ridership.append(entry)      
        
highest_average_ridership = {}
number = taxi_ridership[0]['average_ridership']

for entry in taxi_ridership:
    if entry['average_ridership'] > number: 
        number = entry['average_ridership']
        highest_average_ridership = entry

print ( highest_average_ridership['year'], 'has the highest Taxi ridership with an average of', highest_average_ridership['average_ridership'], 'riders' )

2014 has the highest Taxi ridership with an average of 1020000 riders

### Question 8 <font color='red'>[2 marks]</font>
Using the `public_transport_ridership` list created earlier, <b>between 1995 to 2010</b>, find the year with the <b>highest</b> average ridership for <b>Buses</b>.

Expected output:
    
    Between 1995 to 2010, 2001 has the highest Bus ridership with an average of 3281000 riders

In [222]:
# Write your code below:

bus_ridership = []
for entry in public_transport_ridership: 
    if entry['type_of_public_transport'] == 'Bus': 
        bus_ridership.append(entry)  


bus_ridership_9510 = []
for entry in bus_ridership: 
    if entry['year']>1995 and entry['year']<2010: 
        bus_ridership_9510.append(entry)

highest_average_ridership = {}
number = bus_ridership_9510[0]['average_ridership']
        
for entry in bus_ridership_9510:
    if entry['average_ridership'] > number: 
        number = entry['average_ridership']
        highest_average_ridership = entry

print ( 'Between 1995 to 2010,', highest_average_ridership['year'], 'has the highest Bus ridership with an average of', highest_average_ridership['average_ridership'], 'riders' )

Between 1995 to 2010, 2001 has the highest Bus ridership with an average of 3281000 riders

## Debugging

### Question 9 <font color='red'>[2 marks]</font>
A newbie to programming wrote the following piece of code to check if <b>highest salary</b> from the database. However, her codes were met with syntax, logic bugs and exceptions. Debug the code for her

**Expected Output:**

    Marissa Meyer has the highest salary with $9320809 as a COO

In [279]:
DBS = [
    {'Name':'Rick Jones', 'Job':'Software Engineer', 'Salary':909802},
    {'Name':'Marissa Meyer', 'Job':'COO', 'Salary':9320809},
    {'Name':'Avril Ting', 'Job':'MD', 'Salary':932846}
]

highest_name = DBS[0]['Name']
highest_job = DBS[0]['Job']
highest_salary = DBS[0]['Salary']

for row in DBS:
    if row['Salary'] > highest_salary:
        highest_salary = row['Salary']
        highest_name = row['Name']
        highest_job = row['Job']
            
print(highest_name, "has the highest salary with $" + str(highest_salary) + " as a " + highest_job)

Marissa Meyer has the highest salary with $9320809 as a COO

### Question 10 <font color='red'>[2 marks]</font>
Another newbie to programming wrote the following piece of code to find the <b>average</b> networth of the data. However, his codes were met with syntax, logic bugs and exceptions. Debug the code for him and round the average networth to 2 decimal places

**Expected Output:**

    The average networth is $1769647.47

In [280]:
data = {
    'Jeremy':73284, 
    'Hansel':8784.3, 
    'Uee':9480938.2, 
    'Seolhyun':984958.3, 
    'Ketsuno Ana':24131, 
    'Trump':45789
}

all_salary = 0
for key,value in data.items():
    all_salary += value

average = round(all_salary/len(data),2)

print("The average networth is $" + str(average))

The average networth is $1769647.47